.body{
    background-color: black;
    color: white;
}

.borderblack{
    border: 5px solid black;
}

.border{
    border: 1px solid white;
}

.btn-style{
    background-color: #f2ae0a;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    transition: 0.6s;
}

.btn-style:hover{
    color: white;

    & .astyle{
        color: white;
    }
}

.astyle{
    color: black;
    text-decoration: none;
}

.astyle:hover{
    color: white;
}

.fonth1{
    font-family: "Oxanium", sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}

.filterimg{
    filter: brightness(0.7);
}

.h5style{
    font-family: "Oxanium", sans-serif;
    letter-spacing: 2px;
    min-height: 50px;
}

.btn-card-style{
    background-color: #f2ae0a;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    transition: 0.6s;
    color: black;
}

.btn-card-style:hover{
    background-color: #d5630c;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    transition: 0.6s;
    color: black;
}

.navbar-toggler-icon{
    background-color: transparent;
    color: transparent;

    & .bi-list{
        color: #f2ae0a;
        font-size: 2.5rem;
    }
}

.p-style{
    font-family: "Oxanium", sans-serif;
    text-align: justify;
}

.console-card{
    background-color: black;
}

.console-card-border{
    border: none;
}

.p-end{
    display: flex;
    justify-content: end;
}

/* .card-img-top {
    width: 100%; 
}

.game-card{
    width: 100%;
    height: 100%;
} */

/* .parentcard{
    position: relative;
}

.cardchild{
    position: absolute;
    bottom: 0;
} */

.color-font{
    color: #d5630c;
    font-weight: bold;
}

input::placeholder {
    font-family: "Oxanium", sans-serif;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.8);
}

.form-control:focus{
    background-color: rgba(255, 255, 255, 0.8);
}

.rightbordercard{
    border-right: 10px solid black;
}




@media (min-width: 768px) {
    .card-img-top {
        max-height: 250px;
        width: 100%;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media (min-width: 992px) {
    .card-img-top {
        max-height: 250px;
        width: 100%;


        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .parentcard{
        position: relative;
        margin-right: 0 !important; 
    }
    
    .cardchild{
        position: absolute;
        bottom: 0;
        
    }
}





